{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<section class="contact-section pt-130 pb-100">
    <div class="container">
        <div class="contact-form-wrapper">
            <div class="row">
                <div class="col-xl-10 col-lg-8 mx-auto">
                    <div class="section-title text-center mb-50">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Sympfony Demo Login</span>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Username: test Password: 1234</p>
                    </div>
                </div>
            </div>
            <form class="contact-form" action="{{ path('login') }}" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="password" id="password" name="_password" placeholder="Password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="hidden" name="_target_path" value="/admin"/> 
                            <div class="button text-center">
                                <button type="submit" class="theme-btn">Login</button>
                            </div>
                        </div>
                    </div>
                </form>
                {% if error %}
                    <center>
                        <div style="padding: 20px; color:red"> {{ error.messageKey|trans(error.messageData, 'security') }} </div>    
                    </center>
                {% endif %}
            </div>
        </div>
</section>
{% endblock %}

